<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087817286203-9bp4uptsp2ltvaljkg5108d6rn481naa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087817286203-9bp4uptsp2ltvaljkg5108d6rn481naa</string>
	<key>API_KEY</key>
	<string>AIzaSyCpTDfdmFi1WHmiwEC5t_IAuh5nt5LBrs0</string>
	<key>GCM_SENDER_ID</key>
	<string>1087817286203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.kakimnsnv.quizapp</string>
	<key>PROJECT_ID</key>
	<string>fireship-lessons-8ac7d</string>
	<key>STORAGE_BUCKET</key>
	<string>fireship-lessons-8ac7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087817286203:ios:eddcf1ffded22b314b921e</string>
</dict>
</plist>